.nav-links a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-bottom: 3px;
    margin-right: 10px;
}

.nav-links a:last-child {
    margin-right: 0;
}

.nav-links a:after , .active-link:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .2s ease, background-color .5s ease;
}

.nav-links a.active-link:after,
.nav-links a:hover:after {
    width: 100%;
    /* background: blue; */
    @apply bg-orange-500;
}


.active-link {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-bottom: 3px;
    margin-right: 10px;
}